[mysqld]
datadir={{ mysql_datadir }}
socket={{ mysql_datadir }}/mysql.sock
log-error={{ mysql_datadir }}/mysqld.log
pid-file={{ mysql_datadir }}/mysqld.pid
bind-address = 0.0.0.0
log_slave_updates = ON
enforce_gtid_consistency = ON
gtid_mode = ON
binlog_format = ROW
log-bin = mysql-bin
relay_log = {{ mysql_datadir }}/ansible-relay-bin
relay_log_index = {{ mysql_datadir }}/mysql/ansible-relay-bin.index

