---
- name: MySQL 데이터 디렉토리 생성
  file:
    path: "{{ mysql_datadir }}"
    state: directory
    owner: mysql
    group: mysql
    mode: '0750'

- name: MySQL 공통 my.cnf 옵션 설정
  lineinfile:
    path: /etc/my.cnf
    insertafter: '^\[mysqld\]'
    regexp: '^[[:space:]]*{{ item.key }}[[:space:]]*='
    line: "{{ item.key }} = {{ item.value }}"
  loop: "{{ mysql_common_options }}"

