---
############################
## roles/nas_db/tasks/db_03_firewall.yaml
## (Master)
## 방화벽 설정
############################

- name: firewalld 서비스 실행 및 부팅 시 자동 시작
  ansible.builtin.service:
    name: firewalld
    state: started
    enabled: yes

# - name: MySQL 포트(3306/tcp) 방화벽 허용
#   firewalld:
#     port: 3306/tcp
#     permanent: yes
#     state: enabled
#     immediate: yes

- name: NFS 관련 방화벽 포트 개방
  ansible.posix.firewalld:
    service: "{{ item }}"
    permanent: true
    state: enabled
    immediate: true
  loop: "{{ db_firewall }}"

