---
# roles/nas_db/tasks/2.yaml
# MySQL 설치 후 초기 설정 (root 비밀번호 설정, 플러그인 제거, 초기 DB 정리)

- name: PyMySQL 패키지 설치
  package:
    name: python3-PyMySQL
    state: present

- name: MySQL root 비밀번호 설정 (최초 1회만)
  shell: >
    mysql -uroot --socket={{ mysql_datadir }}/mysql.sock -e
    "ALTER USER 'root'@'localhost' IDENTIFIED BY '{{ mysql_root_password }}';"
  args:
    creates: "{{ mysql_datadir }}/.root_pass_set"

- name: validate_password 플러그인 존재 여부 확인
  shell: >
    mysql -uroot -p'{{ mysql_root_password }}' --socket={{ mysql_datadir }}/mysql.sock -N -B -e
    "SELECT COUNT(*) FROM information_schema.PLUGINS
     WHERE PLUGIN_NAME='validate_password';"
  register: validate_plugin_count
  changed_when: false

- name: validate_password 플러그인 제거
  shell: >
    mysql -uroot -p'{{ mysql_root_password }}' --socket={{ mysql_datadir }}/mysql.sock -e
    "UNINSTALL PLUGIN validate_password;"
  when: validate_plugin_count.stdout | int > 0

- name: 익명 사용자 계정 삭제
  shell: >
    mysql -uroot -p'{{ mysql_root_password }}' --socket={{ mysql_datadir }}/mysql.sock -e
    "DELETE FROM mysql.user WHERE User='';"

- name: test 데이터베이스 삭제
  shell: >
    mysql -uroot -p'{{ mysql_root_password }}' --socket={{ mysql_datadir }}/mysql.sock -e
    "DROP DATABASE IF EXISTS test;"

- name: 권한 정보 재적용
  shell: >
    mysql -uroot -p'{{ mysql_root_password }}' --socket={{ mysql_datadir }}/mysql.sock -e
    "FLUSH PRIVILEGES;"

