---
- name: /home/ansible-admin/.my.cnf 파일 생성
  ansible.builtin.copy:
    content: |
      [client]
      user=mha
      password=mhapass
      socket={{ mysql_datadir }}/mysql.sock
    dest: /home/ansible-admin/.my.cnf
    owner: ansible-admin
    group: ansible-admin
    mode: '0600'

- name: MySQL 재시작
  ansible.builtin.systemd:
    name: mysqld
    state: restarted

- name: MySQL 재시작 대기
  ansible.builtin.pause:
    seconds: 3
