---
- name: 0_(Master) MySQL 방화벽 설정
  import_tasks: 0.yaml
  when: "'db_master' in group_names"


- name: 1_(Master/Slave) MySQL 공통 초기 설정
  import_tasks: 1.yaml
  when: "'db_master' in group_names or 'db_slave' in group_names"

- name: 2_(Master/Slave) my.cnf 공통 설정
  import_tasks: 2.yaml
  when: "'db_master' in group_names or 'db_slave' in group_names"

- name: 3_(Master) my.cnf 설정
  import_tasks: 3.yaml
  when: "'db_master' in group_names"

- name: 4_(Slave) my.cnf 설정
  import_tasks: 4.yaml
  when: "'db_slave' in group_names"

- name: 5_(Master) Replication User 생성
  import_tasks: 5.yaml
  when: "'db_master' in group_names"

- name: 6_(Slave) GTID 기반 복제 설정
  import_tasks: 6.yaml
  when: "'db_slave' in group_names"


