- name: 소스 디렉토리 생성
  ansible.builtin.file:
    path: /home/ansible-admin/src
    state: directory
    owner: ansible-admin
    group: ansible-admin
    mode: '0755'
# roles/nas_db/tasks/master.yaml
# Master 서버(10.4.4.12) 설정

- name: MHA 로그 디렉토리 생성
  ansible.builtin.file:
    path: /var/log/mha/app1
    state: directory
    owner: ansible-admin
    group: ansible-admin
    mode: '0755'
    recurse: yes

- name: /mnt 디렉토리 권한 설정
  ansible.builtin.file:
    path: /mnt
    mode: '0755'

- name: /mnt/new_disk 디렉토리 권한 설정
  ansible.builtin.file:
    path: /mnt/new_disk
    mode: '0755'
    recurse: yes

- name: MHA sudo 권한 설정
  ansible.builtin.copy:
    content: |
      ansible-admin ALL=(ALL) NOPASSWD: /usr/sbin/ip
      ansible-admin ALL=(ALL) NOPASSWD: /usr/bin/systemctl restart mysqld
      ansible-admin ALL=(ALL) NOPASSWD: /usr/bin/systemctl start mysqld
      ansible-admin ALL=(ALL) NOPASSWD: /usr/bin/systemctl stop mysqld
      ansible-admin ALL=(ALL) NOPASSWD: /usr/bin/systemctl status mysqld
    dest: /etc/sudoers.d/mha-auto
    owner: root
    group: root
    mode: '0440'
    validate: '/usr/sbin/visudo -cf %s'

- name: my.cnf에서 기존 relay_log 설정 제거
  ansible.builtin.lineinfile:
    path: /etc/my.cnf
    regexp: '^relay_log'
    state: absent

- name: relay_log 설정 추가
  ansible.builtin.blockinfile:
    path: /etc/my.cnf
    block: |
      relay_log = /mnt/new_disk/mysql/ansible-relay-bin
      relay_log_index = /mnt/new_disk/mysql/ansible-relay-bin.index
    marker: "# {mark} RELAY LOG MANAGED BLOCK"

- name: .my.cnf 파일 생성
  ansible.builtin.copy:
    content: |
      [client]
      user=mha
      password=mhapass
      socket=/mnt/new_disk/mysql/mysql.sock
    dest: /home/ansible-admin/.my.cnf
    owner: ansible-admin
    group: ansible-admin
    mode: '0600'

- name: MySQL 재시작
  ansible.builtin.systemd:
    name: mysqld
    state: restarted

- name: MySQL 재시작 대기
  ansible.builtin.pause:
    seconds: 3

- name: EPEL 저장소 설치
  ansible.builtin.dnf:
    name: epel-release
    state: present

- name: CRB 저장소 활성화
  community.general.ini_file:
    path: /etc/yum.repos.d/centos.repo
    section: crb
    option: enabled
    value: "1"
    no_extra_spaces: yes

- name: DNF 캐시 업데이트
  ansible.builtin.dnf:
    update_cache: yes

- name: MHA 필수 패키지 설치
  ansible.builtin.dnf:
    name:
      - perl
      - perl-DBI
      - perl-DBD-MySQL
      - perl-Config-Tiny
      - perl-Time-HiRes
      - perl-Log-Dispatch
      - perl-Parallel-ForkManager
      - perl-Module-Install
      - openssh-clients
      - git
      - make
    state: present

- name: MHA Node 저장소 클론
  ansible.builtin.git:
    repo: https://github.com/yoshinorim/mha4mysql-node.git
    dest: /home/ansible-admin/src/mha4mysql-node
    update: no
  become_user: ansible-admin

- name: MHA Node Makefile 존재 확인
  ansible.builtin.stat:
    path: /home/ansible-admin/src/mha4mysql-node/Makefile
  register: makefile_stat

- name: MHA Node Makefile 생성
  ansible.builtin.shell:
    cmd: perl Makefile.PL --installdirs site
    chdir: /home/ansible-admin/src/mha4mysql-node
  become_user: ansible-admin
  when: not makefile_stat.stat.exists

- name: MHA Node 빌드
  ansible.builtin.make:
    chdir: /home/ansible-admin/src/mha4mysql-node
  become_user: ansible-admin

- name: MHA Node 설치
  ansible.builtin.make:
    chdir: /home/ansible-admin/src/mha4mysql-node
    target: install

- name: MHA 계정 생성
  community.mysql.mysql_user:
    name: mha
    host: '%'
    password: mhapass
    priv: '*.*:ALL PRIVILEGES'
    state: present
    login_user: root
    login_password: Soldesk1.
    login_unix_socket: /mnt/new_disk/mysql/mysql.sock

- name: VIP 추가 (10.4.4.100)
  ansible.builtin.command:
    cmd: ip addr add 10.4.4.100/24 dev {{ ansible_default_ipv4.interface }}
  register: vip_result
  failed_when: false
  changed_when: vip_result.rc == 0

- name: VIP 추가 결과 메시지
  ansible.builtin.debug:
    msg: "{% if vip_result.rc == 0 %}VIP 추가 완료{% else %}VIP 이미 존재{% endif %}"

- name: Master 설정 완료
  ansible.builtin.debug:
    msg: "==== Master 서버 설정 완료 ===="
