---
- name: MHA sudo 권한 설정
  ansible.builtin.copy:
    content: |
      ansible-admin ALL=(ALL) NOPASSWD: /usr/sbin/ip
      ansible-admin ALL=(ALL) NOPASSWD: /usr/bin/systemctl restart mysqld
      ansible-admin ALL=(ALL) NOPASSWD: /usr/bin/systemctl start mysqld
      ansible-admin ALL=(ALL) NOPASSWD: /usr/bin/systemctl stop mysqld
      ansible-admin ALL=(ALL) NOPASSWD: /usr/bin/systemctl status mysqld
    dest: /etc/sudoers.d/mha-auto
    owner: root
    group: root
    mode: '0440'
    validate: '/usr/sbin/visudo -cf %s'


- name: /home/ansible-admin/.my.cnf 파일 생성
  ansible.builtin.copy:
    content: |
      [client]
      user=mha
      password=mhapass
      socket={{ mysql_datadir }}/mysql.sock
    dest: /home/ansible-admin/.my.cnf
    owner: ansible-admin
    group: ansible-admin
    mode: '0600'

- name: MySQL 재시작
  ansible.builtin.systemd:
    name: mysqld
    state: restarted

- name: MySQL 재시작 대기
  ansible.builtin.pause:
    seconds: 3
- name: MHA 계정 생성
  community.mysql.mysql_user:
    name: mha
    host: '%'
    password: mhapass
    priv: '*.*:ALL PRIVILEGES'
    state: present
    login_user: root
    login_password: Soldesk1.
    login_unix_socket: /mnt/new_disk/mysql/mysql.sock

- name: VIP 추가 (10.4.4.100)
  ansible.builtin.command:
    cmd: ip addr add 10.4.4.100/24 dev {{ ansible_default_ipv4.interface }}
  register: vip_result
  failed_when: false
  changed_when: vip_result.rc == 0

- name: VIP 추가 결과 메시지
  ansible.builtin.debug:
    msg: "{% if vip_result.rc == 0 %}VIP 추가 완료{% else %}VIP 이미 존재{% endif %}"

- name: Master 설정 완료
  ansible.builtin.debug:
    msg: "==== Master 서버 설정 완료 ===="

